

.btn {
    margin: 5px;
    margin-bottom: 10px;
}

.jumbotron {
    height: 150px;
    background-color: #1A4465;
    color: white;
    font-family: 'Rammetto One', cursive;
}

#tagline {
    color: #A9C2D4;
    font-family: 'times new roman';
}

#header {
    font-size: 300%;
}

body {
    color: #1A4465;
}

a:active {
    color: #1A4465;
}

table {
    border: solid #1A4465;
    border-width: thin;
}

