body {
    height: 100%;
    position: relative;
}

.container {
    min-height: 80vh;
    overflow: hidden;
    display:block;
    position: relative;
    padding-bottom: 100px;
}

.btn {
    margin: 5px;
    margin-bottom: 10px;
}

.jumbotron {
    height: 150px;
    background-color: #1A4465;
    color: white;
    font-family: 'Rammetto One', cursive;
}

footer {
    width: 100%;
    position: absolute;
    bottom: 0;
    background-color: #1A4465;
    color: white;
    text-align: center;
    height: 2.5em;
}

#tagline {
    color: #A9C2D4;
    font-family: 'times new roman';
}

#header {
    font-size: 300%;
    color: white;
}

body {
    color: #1A4465;
}

a:active {
    color: #1A4465;
}

table {
    border: solid #1A4465;
    border-width: thin;
}

.copy {
    display: none;
}
